# Fetching ApI

In [1]:
import pandas as pd
import requests
import time

In [2]:
url='https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1'
response=requests.get(url)

In [3]:
df=pd.DataFrame(response.json()['results'])
df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,31.3844,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.710,28358
1,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",40.5159,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.686,21479
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,14.7759,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.570,12973
3,False,/zb6fM1CX41D9rF9hdgclu0peUmy.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,20.4296,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.565,16453
4,False,/bxgTSUenZDHNFerQ1whRKplrMKF.jpg,[18],389,en,12 Angry Men,The defense and the prosecution have rested an...,18.3354,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10,12 Angry Men,False,8.500,9145

In [4]:
df1=df[['id','title','overview','release_date','original_language','vote_average','vote_count']]
df1.head()

,id,title,overview,release_date,original_language,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,en,8.710,28358
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,en,8.686,21479
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,en,8.570,12973
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,en,8.565,16453
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,en,8.500,9145

In [5]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
for i in range(1,429):
    try:
        url='https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i)
        response=requests.get(url)
        temp_df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','original_language','vote_average','vote_count']]
        df = pd.concat([df, temp_df], ignore_index=True)
        time.sleep(0.3)
    except:
        print(f"skipped {i}")
df

skippedn 1
skippedn 3
skippedn 5
skippedn 8
skippedn 15
skippedn 16
skippedn 17
skippedn 18
skippedn 19
skippedn 21
skippedn 23
skippedn 31
skippedn 34
skippedn 35
skippedn 40
skippedn 41
skippedn 42
skippedn 46
skippedn 47

,id,title,overview,release_date,original_language,vote_average,vote_count
0,550,Fight Club,A ticking-time-bomb insomniac and a slippery s...,1999-10-15,en,8.438,30310
1,11216,Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",1988-11-17,it,8.437,4534
2,598,City of God,In the poverty-stricken favelas of Rio de Jane...,2002-08-30,pt,8.429,7655
3,40096,A Dog's Will,The lively João Grilo and the sly Chicó are po...,2000-09-15,pt,8.400,1160
4,539,Psycho,When larcenous real estate clerk Marion Crane ...,1960-06-22,en,8.400,10368
...,...,...,...,...,...,...,...
595,329865,Arrival,Taking place after alien crafts land around th...,2016-11-10,en,7.600,18268
596,643,Battleship Potemkin,A dramatized account of a great Russian naval ...,1925-12-24,ru,7.615,1197
597,137,Groundhog Day,"A narcissistic TV weatherman, along with his a...",1993-02-11,en,7.615,8280
598,537116,"tick, tick... BOOM!","On the brink of turning 30, a promising theate...",2021-11-11,en,7.613,2143
599,10331,Night of the Living Dead,A group of strangers trapped in a farmhouse fi...,1968-10-04,en,7.613,2532

In [7]:
df.shape

(600, 7)

In [8]:
df.to_csv('movies.csv')