# ------------------------------ PART 10 --------------------------------

# # Pivot Table

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Datasets/sample2.csv')
df.head()

   Roll No. Section Branch  Physics  Chemistry  Maths  Computer         DOB
0         1       A     CS     56.0       57.0   58.0      59.0  01-01-2001
1         2       A    ECE     23.0       24.0   25.0      26.0  02-01-2001
2         3       B   MECH     89.0       25.0   26.0      27.0  03-01-2001
3         4       C   MECH     45.0       26.0   27.0      28.0  04-01-2001
4         5       A     CS     23.0       27.0   28.0      29.0  05-01-2001

In [5]:
pivot = pd.pivot_table(df, index='Branch')
print(pivot)

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
pd.pivot_table(df, index='Branch', aggfunc='sum')

        Chemistry  Computer  Maths  Physics  Roll No.
Branch
CS          278.0     372.0  302.0    562.0       176
ECE         230.0     287.0  262.0    265.0       111
MECH        341.0     398.0  343.0    477.0       154

In [ ]:
pd.pivot_table(df, index='Branch', aggfunc='count')

        Chemistry  Computer  DOB  Maths  Physics  Roll No.  Section
Branch
CS              9        10   11     10       11        11       11
ECE             7         8    8      8        5         8        8
MECH            8         9    9      8        9         9        9

In [ ]:
pd.pivot_table(df, index='Branch', aggfunc='max')

        Chemistry  Computer         DOB  Maths  Physics  Roll No. Section
Branch
CS           57.0      66.0  30-01-2001   58.0     90.0        30       C
ECE          51.0      54.0  26-01-2001   51.0     90.0        26       B
MECH         52.0      53.0  25-01-2001   52.0     89.0        25       C

In [ ]:
pd.pivot_table(df, index='Branch', columns='Section')

         Chemistry               Computer                       Maths         \
Section          A     B     C          A     B          C          A      B
Branch
CS       32.666667  23.5  35.0  40.285714  35.0  20.000000  33.333333  24.00
ECE      24.000000  39.5   NaN  31.750000  40.0        NaN  25.750000  39.75
MECH     47.500000  25.0  42.0  48.600000  27.0  42.666667  47.500000  26.00

                      Physics                    Roll No.
Section          C          A     B          C          A     B     C
Branch
CS       27.000000  50.142857  33.5  72.000000  14.571429  17.0  20.0
ECE            NaN  55.666667  49.0        NaN  10.750000  17.0   NaN
MECH     42.333333  48.600000  89.0  48.333333  20.600000   3.0  16.0