In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
df=pd.read_csv('../csv/train_dataset.csv')
df.head()

,class,feature_2,feature_3,feature_4,feature_5,feature_7,feature_9,feature_11,feature_12,feature_13,feature_14,feature_16,feature_17,feature_18,feature_19,feature_20,feature_22,"feature_8,feature_15","feature_21,feature_10","feature_1,feature_6"
0,p,t@,d,v*,&l,&j,c,&Q,t,#e,m,t,&j,U,T,NaN,U,"c,j","*t,u",NaN
1,p,d@,NaN,v&,l&,F,?,e,a,e#,U,t#,NaN,h,u,&j,#u,"O,I","t,c","t,e"
2,e,v,d,T,l,F,a&,Q,&T,e,&w,NaN,j,NaN,*t,h#,u,"c,e","&d,c","t,e"
3,p,@m,a#,NaN,l#,F#,NaN,E,u,E,NaN,t*,i,e,NaN,e,u&,"c,i","d,w","b,e"
4,p,m&,a,v,NaN,&h,A,q,m,e,k@,t,i#,e,d&,#e,@u,"c,i&","a,w","b,e"

In [3]:
df.drop("class",axis=1).to_csv("X_val.csv")
df["class"].to_csv("y_val.csv",index=False)

In [4]:
df.shape

(6693, 20)

In [5]:
df['class'].value_counts()

class
e    3420
p    3273
Name: count, dtype: int64

In [6]:
for col in df.columns:
    print(col,df[col].nunique())

class 2
feature_2 248
feature_3 90
feature_4 85
feature_5 90
feature_7 197
feature_9 158
feature_11 155
feature_12 312
feature_13 73
feature_14 224
feature_16 87
feature_17 145
feature_18 235
feature_19 221
feature_20 135
feature_22 50
feature_8,feature_15 193
feature_21,feature_10 342
feature_1,feature_6 321

In [7]:
df.isnull().mean()*100

class                     0.000000
feature_2                 9.128941
feature_3                 9.382937
feature_4                 9.188705
feature_5                 9.696698
feature_7                10.563275
feature_9                 9.741521
feature_11                8.964590
feature_12                9.248469
feature_13                9.039295
feature_14                9.367996
feature_16                9.621993
feature_17                9.099059
feature_18               10.234573
feature_19                9.636934
feature_20                9.472583
feature_22                9.532347
feature_8,feature_15      9.143882
feature_21,feature_10    10.174810
feature_1,feature_6      10.040341
dtype: float64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6693 entries, 0 to 6692
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   class                  6693 non-null   object
 1   feature_2              6082 non-null   object
 2   feature_3              6065 non-null   object
 3   feature_4              6078 non-null   object
 4   feature_5              6044 non-null   object
 5   feature_7              5986 non-null   object
 6   feature_9              6041 non-null   object
 7   feature_11             6093 non-null   object
 8   feature_12             6074 non-null   object
 9   feature_13             6088 non-null   object
 10  feature_14             6066 non-null   object
 11  feature_16             6049 non-null   object
 12  feature_17             6084 non-null   object
 13  feature_18             6008 non-null   object
 14  feature_19             6048 non-null   object
 15  feature_20             6059 non-null   object
 16  feature_22             6055 non-null   object
 17  feature_8,feature_15   6081 non-null   object
 18  feature_21,feature_10  6012 non-null   object
 19  feature_1,feature_6    6021 non-null   object
dtypes: object(20)
memory usage: 1.0+ MB

In [9]:
df.describe()

,class,feature_2,feature_3,feature_4,feature_5,feature_7,feature_9,feature_11,feature_12,feature_13,feature_14,feature_16,feature_17,feature_18,feature_19,feature_20,feature_22,"feature_8,feature_15","feature_21,feature_10","feature_1,feature_6"
count,6693,6082,6065,6078,6044,5986,6041,6093,6074,6088,6066,6049,6084,6008,6048,6059,6055,6081,6012,6021
unique,2,248,90,85,90,197,158,155,312,73,224,87,145,235,221,135,50,193,342,321
top,e,d,a,v,l,f,a,q,a,e,k,t,j,d,t,h,u,"o,j","t,u","t,e"
freq,3420,758,1711,2017,2238,1217,1124,1070,543,2420,977,2308,1457,1060,1330,984,2456,944,769,698

In [10]:
df.head()

,class,feature_2,feature_3,feature_4,feature_5,feature_7,feature_9,feature_11,feature_12,feature_13,feature_14,feature_16,feature_17,feature_18,feature_19,feature_20,feature_22,"feature_8,feature_15","feature_21,feature_10","feature_1,feature_6"
0,p,t@,d,v*,&l,&j,c,&Q,t,#e,m,t,&j,U,T,NaN,U,"c,j","*t,u",NaN
1,p,d@,NaN,v&,l&,F,?,e,a,e#,U,t#,NaN,h,u,&j,#u,"O,I","t,c","t,e"
2,e,v,d,T,l,F,a&,Q,&T,e,&w,NaN,j,NaN,*t,h#,u,"c,e","&d,c","t,e"
3,p,@m,a#,NaN,l#,F#,NaN,E,u,E,NaN,t*,i,e,NaN,e,u&,"c,i","d,w","b,e"
4,p,m&,a,v,NaN,&h,A,q,m,e,k@,t,i#,e,d&,#e,@u,"c,i&","a,w","b,e"

In [11]:
from sklearn.model_selection import train_test_split

x=df.drop(columns=['class'])
y=df['class']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [12]:
y_train.sample(5)

5952    p
5678    e
2508    p
3285    e
2866    e
Name: class, dtype: object

In [13]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6693 entries, 0 to 6692
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   class                  6693 non-null   object
 1   feature_2              6082 non-null   object
 2   feature_3              6065 non-null   object
 3   feature_4              6078 non-null   object
 4   feature_5              6044 non-null   object
 5   feature_7              5986 non-null   object
 6   feature_9              6041 non-null   object
 7   feature_11             6093 non-null   object
 8   feature_12             6074 non-null   object
 9   feature_13             6088 non-null   object
 10  feature_14             6066 non-null   object
 11  feature_16             6049 non-null   object
 12  feature_17             6084 non-null   object
 13  feature_18             6008 non-null   object
 14  feature_19             6048 non-null   object
 15  feature_20             6059 non-null   object
 16  feature_22             6055 non-null   object
 17  feature_8,feature_15   6081 non-null   object
 18  feature_21,feature_10  6012 non-null   object
 19  feature_1,feature_6    6021 non-null   object
dtypes: object(20)
memory usage: 1.0+ MB

In [ ]:
from sklearn.base import BaseEstimator, TransformerMixin

class Mouryagna_Baindla(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self

    def transform(self, X):
        X = pd.DataFrame(X).copy()
        X = self.featuressplit(X)
        X = self.remove(X)
        return X

    def featuressplit(self, X):
        feature1, feature6, feature8 = [], [], []
        feature10, feature15, feature21 = [], [], []
        for i in range(len(X)):
            cell = X.iloc[i, -1]
            a, b = self.safe_split(cell)
            feature1.append(a)
            feature6.append(b)

            cell = X.iloc[i, -2]
            a, b = self.safe_split(cell)
            feature21.append(a)
            feature10.append(b)

            cell = X.iloc[i, -3]
            a, b = self.safe_split(cell)
            feature8.append(a)
            feature15.append(b)

        X["feature_1"] = feature1
        X["feature_6"] = feature6
        X["feature_8"] = feature8
        X["feature_10"] = feature10
        X["feature_15"] = feature15
        X["feature_21"] = feature21

        X = X.drop(['feature_8,feature_15', 'feature_21,feature_10', 'feature_1,feature_6'], axis=1)

        return X



    def remove(self, X):
        for col in X.columns:
            X[col] = X[col].astype(str).apply(lambda x: re.sub(r'[^a-zA-Z0-9]', '', x))
            X[col] = pd.to_numeric(X[col], errors='ignore')  
        return X

    def safe_split(self, cell):
        if pd.isna(cell):
            return np.nan, np.nan
        try:
            a, b = str(cell).split(",", 1)
            return a, b
        except:
            return np.nan, np.nan

In [16]:
cat_cols=['feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_7',
       'feature_9', 'feature_11', 'feature_12', 'feature_13', 'feature_14',
       'feature_16', 'feature_17', 'feature_18', 'feature_19', 'feature_20',
       'feature_22', 'feature_8','feature_15', 'feature_21','feature_10',
       'feature_1','feature_6']
cat_pipeline=Pipeline([
        ('impute',SimpleImputer(strategy='most_frequent')),
        ('encode',OneHotEncoder(handle_unknown='ignore',sparse_output=False))
]) 
transformer=ColumnTransformer(transformers=[('cat',cat_pipeline,cat_cols)],remainder='passthrough')

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report

lr=LogisticRegression(random_state=42)
pipe=Pipeline([
    ('spitter',Mouryagna_Baindla()),
    ('transformer',transformer),
    ('clf',lr)
])
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
accuracy_score(y_pred,y_test)

C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')
C:\Users\moury\AppData\Local\Temp\ipykernel_2712\462868584.py:48: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  X[col] = pd.to_numeric(X[col], errors='ignore')

0.9902912621359223

In [18]:
y_pred

array(['e', 'e', 'p', ..., 'p', 'e', 'p'], shape=(1339,), dtype=object)

In [19]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           e       0.99      0.99      0.99       684
           p       0.99      0.99      0.99       655

    accuracy                           0.99      1339
   macro avg       0.99      0.99      0.99      1339
weighted avg       0.99      0.99      0.99      1339

In [20]:
import joblib

joblib.dump(pipe,'Mouryagna_Baindla.pkl')
print('PipeLine Saved Successfully!')

PipeLine Saved Successfully!